/*diposicion de las cosas*/
.cabeza {
    grid-area: header;
}

.menu {
    grid-area: nav;
}

.busqueda {
    grid-area: aside;
}

.contenido {
    grid-area: main;
}

.grid-container {
    display: grid;
    grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav "
    "aside main main main main main";
    font-family: Arial, Helvetica, sans-serif;

}
/*aside*/
aside {
    background-color: #f42c1d;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    height:100% ;

}
/*posicion del div y estilos de los h*/
main{
    border: 1px white solid;
    background-color: #070709;
}
.sections1 {
    position: relative;
    left: 143px;
    top: 68px;
}

fieldset{
    border: 2px solid #070709;
}
.peliculas {
    position: relative;
    left: 143px;
    top: 68px;
    width: 710px;
    z-index: 0;
}

.cartelera {
    color: #f42c1d;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.tipos {
    color: #f42c1d;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: #f42c1d;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

/*mejoramiento de la pocicion de las pelis*/
.peliculas {
    display: grid;
    grid-template-columns: auto auto auto;
}

.cartekera {
    border: 1px solid #f42c1d;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.peliculas img {
    width: 100%;
}
/* busqueda */

