/*general scc*/
body {
    margin: 0;
    padding: 0;
    background: #070709;

}
a {
    text-decoration: none;
    color: black;
}
/*esto esta en la cabeza y sirve para alinear dos titulos Y la posicion */
.logo {
    vertical-align: middle; /* la imagen se alinea con el texto */
    display: inline-block;
    width: 70px;
    border-radius: 20%; /* hace que quede un círculo */
}
.cineword {
    font-size: 3em;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    color: #121312;
}
header  h2 {
    display: inline-block;
    margin-right: 30px
}
header {

    background-color: #f42c1d;
    border: 1px solid #00171f;
    display: flex; /* activa flexbox */
    justify-content: center; /* centra horizontal */
    align-items: center; /* centra vertical */
    padding: 0 10px;
}

/* perfil */

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
    right: 0;
    margin-left: 20px;
}

.perfil img {
    width: 50px;
    height: 50px;
    border-radius:50%;
}
.perfil span{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}
/*esto es para las distintas opciones*/
nav {
    background-color: #f42c1d;
    border: 1px solid #00171f;
    color: #121312;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center ;
    font-size: 2em;
}
nav a{
    margin-right: 100px;
}

nav a:hover {
    color: #a67d43;
}

/*fin general*/
/*index*/
/*diposicion de las cosas*/
.cabezaind {
    grid-area: header;
}

.menuind {
    grid-area: nav;
}
.contenidoind {
    grid-area: main;
}
.grid-container {
    display: grid;
    grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav "
    "main main main main main main";
    font-family: Arial, Helvetica, sans-serif;
}
/*css de main*/
.dondeir{
    text-align: center;
}

#dondeir a:hover {
    font-size: 1.4em;
    text-decoration: underline;
    transition: all 0.3s ease;
    text-decoration-color: #f42c1d;
}

#dondeir h3 {
    color: #f42c1d;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

#dondeir h1 {
    color: #f42c1d;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}
/*ubicación de las imágenes */
.promo img{
    width: 100%;
}
.promo {
    position: absolute;
    width: 400px;
    right: 15px;
    bottom: 50px;
}
.anuncio img{
    width: 100%;
}
.anuncio {
    position: absolute;
    width: 400px;
    left: 15px;
    bottom: 50px;
}
/*fin index*/
/*cartelera*/
/*diposicion de las cosas*/
.cabezacar {
    grid-area: header;
}

.menucar {
    grid-area: nav;
}

.busquedacar {
    grid-area: aside;
}

.contenidocar {
    grid-area: main;
}

.grid-container2 {
    display: grid;
    grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav "
    "aside main main main main main";
    font-family: Arial, Helvetica, sans-serif;
    gap: 0;

}

/*aside*/
.busquedacar {
    background-color: #f42c1d;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;

}

fieldset {
    border: 2px solid #070709;
}
/* estilos de texto */
.cartelera {
    color: #f42c1d;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 2em;
}

.tipos {
    color: #f42c1d;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

/*main*/

h3 {
    color: #f42c1d;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

/*mejoramiento de la pocicion de las pelis*/
.peliculas {
    display: grid;
    grid-template-columns: auto auto auto;
}

.produ {
    width: 350px;
    border: 1px solid #f42c1d;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.peliculas img {
    width: 100%;
}

/* boton */

button{
    background-color: #070709;
}
/*fin cartelera*/
/*carrito*/

/*fin carrito*/