@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-fondo;
  color: $color-texto;
  font-family: $fuente-principal;
}

h1, h2, h3 {
  color: $color-principal;
  text-align: center;
  margin: 20px 0;
}

button {
  font-family: $fuente-principal;
  background-color: $color-principal;
  border: none;
  padding: 10px 20px;
  border-radius: $radio;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: darken($color-principal, 10%);
  }
}
