@use 'variables' as *;

.carrito {
  text-align: center;
  padding: 30px;

  .productos-seleccionados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    .item {
      border: 2px solid $color-principal;
      background-color: $color-secundario;
      padding: 15px;
      border-radius: $radio;
      width: 300px;

      img {
        width: 100%;
        border-radius: $radio;
      }

      h4, p {
        color: $color-principal;
      }
    }
  }

  .total {
    margin-top: 30px;
    font-size: 1.5rem;
    color: $color-principal;
  }
}
