@use 'variables' as *;

header {
  background-color: $color-principal;
  color: black;
  font-family: $fuente-principal;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;

  // Logo y título
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 15px 0;

    img {
      width: 70px;
      height: auto;
      border-radius: 12px;
    }

    h1 {
      font-size: 2.5rem;
      letter-spacing: 1px;
      font-family: $fuente-principal;
    }
  }

  // Barra de navegación
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: $color-principal;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 8px 0;

    a {
      color: black;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.3rem;
      transition: 0.3s;

      &:hover {
        color: white;
      }

      &:active {
        color: $color-fondo;
      }
    }
  }
}
