@use 'variables' as *;

.home {
  text-align: center;
  padding: 40px;

  h2 {
    color: $color-principal;
    margin-bottom: 30px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 15px 0;
      a {
        color: $color-principal;
        text-decoration: none;
        font-size: 1.3rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  img {
    width: 400px;
    border-radius: $radio;
    margin-top: 20px;
    box-shadow: $sombra;
  }
}
