@use 'variables' as *;

main {
  text-align: center;
  color: $color-texto;
  padding: 20px;

  h2 {
    font-family: $fuente-titulo;
    font-size: 2.5em;
    color: $color-secundario;
  }

  .promos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    img {
      width: 300px;
      border-radius: 20px;
      transition: 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
