// Colores principales
$color-principal: #ff2e00;
$color-fondo: #0e0d0d;
$color-texto: #fff;
$color-secundario: #141414;
$color-borde: #d40000;

// Tipografías
$fuente-principal: 'Alfa Slab One', cursive;
$fuente-secundaria: 'Bungee Shade', cursive;


$radio: 12px;
$sombra: 0 0 10px rgba(0, 0, 0, 0.5);
